extends layout

block content
    h1= title

    p Welcome to #{title}
    ul
        li
            a(href='/randomJoke') Random Joke
        li
            a(href='/jokes') All Jokes
        li
            a(href='/addJoke') Add Joke


